@media (min-width: 758px) {
  /* 공통 */
  :root {
    --white-color: #fff;
    --black-color: #000;
    --font-weight-bold: 700;
    --big-fontsize: 4.8rem;
    --big-lineheight: 6rem;
    --middle-fontsize: 3.6rem;
    --middle-lineheight: 4.5rem;
    --small-font-size: 1.6rem;
    --small-lineheight: 2rem;
    --text-indent: 0.2rem;
  }

  .only-w {
    display: inline;
  }

  .only-m {
    display: none;
  }

  br .only-m {
    display: none;
  }

  br .only-w {
    display: inline;
  }

  .title {
    font-size: 4.8rem;
    line-height: 6rem;
  }

  .sub-title {
    font-size: 3.6rem;
    line-height: 4.5rem;
    font-weight: 700;
  }

  .content {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  header {
    height: 10.2rem;
    padding: 0 35rem 0 32rem;
  }

  header nav .main-logo {
    width: 13rem;
    padding-top: 3.1rem;
  }

  /* sidebutton */
  header nav ul .header-btns {
    display: block;
    background-color: transparent;
    height: 10.2rem;
  }

  header nav ul .header-btns ul {
    display: flex;
    justify-content: end;
  }

  header nav ul .header-btns .nav-btn {
    color: var(--black-color);
    font-size: var(--small-font-size);
    line-height: var(--small-lineheight);
    margin-top: 4.1rem;
  }

  header nav ul .header-btns li .orange-btn {
    margin: 2.6rem 0 0 4rem;
    display: block;
  }

  /* section1 */
  .container1 {
    height: 79.8rem;
    display: flex;
    overflow: hidden;
  }

  .container1 .container1-wrap {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .container1 .container1-wrap .title {
    text-align: start;
    margin: 20rem auto 0 32rem;
    padding: 0;
  }

  .container1 .container1-wrap .content {
    text-align: start;
    margin: 4rem 0 3rem 32rem;
    padding: 0 42.6rem 0 0;
    text-indent: var(--text-indent);
  }

  .container1 .container1-wrap .orange-btn {
    margin: 4rem 0 0 32rem;
  }
  .container1 img {
    width: 41.5rem;
    height: 76.6rem;
    margin: 13.4rem 34rem 0 0;
  }

  /* section2 */
  .container2 {
    margin-top: 8rem;
  }

  .container2 .container2-wrap {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 32rem;
  }

  .container2 .container2-wrap img {
    width: 66rem;
    height: 39rem;
    border-radius: 3rem;
  }

  .container2 .container2-wrap .title {
    margin: 9.2rem 0 0 11rem;
    font-size: var(--middle-fontsize);
    line-height: var(--middle-lineheight);
  }

  .container2 .container2-wrap .content {
    margin: 3rem 0 0 11rem;
    text-indent: var(--text-indent);
  }

  /* section3 */
  .container3 {
    margin-top: 12rem;
  }

  .container3 .container3-wrap .title {
    text-align: center;
    margin: 0;
  }

  .container3 .container3-wrap .sub-title {
    font-size: var(--small-font-size);
    line-height: var(--small-lineheight);
    text-indent: var(--text-indent);
  }

  .container3 .container3-wrap .sub-title strong {
    font-size: var(--small-font-size);
    line-height: var(--small-font-size);
    text-indent: var(--text-indent);
  }

  .container3 .container3-wrap2 {
    display: flex;
    justify-content: center;
    padding: 8.8rem 0 9rem 0;
  }

  .container3 .container3-wrap2 img {
    width: 37.8rem;
    border-radius: 3em;
    box-shadow: 10px 10px 20px 0px #00000040;
    margin-right: 7.2rem;
  }

  /* section4 */

  .container4 {
    display: flex;
    margin: 0 49.1rem 0 49.1rem;
  }

  .container4 .sub-title {
    font-size: var(--small-font-size);
    line-height: var(--small-lineheight);
    text-indent: var(--text-indent);
    margin-right: 5.2rem;
  }

  .container4 .cntainer4-wrap {
    display: flex;
  }

  .container4 .container4-wrap button {
    margin: 0.7rem 0 0 0;
  }

  /* section5 */
  .container5 .img-wrap {
    height: 34rem;
    margin-top: 19.6rem;
  }

  .container5 .img-wrap img {
    object-position: 62% 38%;
  }

  .container5 .up-btn {
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 18.4rem;
    right: 2.4rem;
    border: solid 1px #c4c4c4;
    background-color: rgba(rgba(255, 255, 255, 0.8));
    border-radius: 100%;
    z-index: 1000;
  }

  .up-btn svg {
    width: 5rem;
    height: 5rem;
    background-color: rgba(rgba(255, 255, 255, 0.8));
  }

  .up-btn:hover {
    cursor: pointer;
    border: solid 1px #767676;
  }
  a svg:hover #up {
    fill: #767676;
  }

  /* article */
  .subscribe {
    bottom: calc(24.6rem + 16rem);
    width: 128rem;
    height: 20rem;
    border-radius: 3rem;
    display: flex;
  }

  .subscribe .subscribe-wrap {
    display: flex;
    flex-direction: column;
  }

  .subscribe .subscribe-wrap .title {
    padding: 5rem 0 0 5.8rem;
    font-size: var(--middle-fontsize);
    line-height: var(--middle-fontsize);
  }

  .subscribe .subscribe-wrap .content {
    padding: 1.8rem 0 5rem 5.8rem;
    font-size: 1.4rem;
    line-height: 1.753rem;
  }

  .subscribe .subscribe-wrap2 input[type="email"] {
    width: 53rem;
    height: 6rem;
    margin: 7rem 5.8rem 7rem 14.3rem;

    background-size: 2.4rem;
    background-position-x: 3rem;
    background-position-y: 1.8rem;

    position: relative;
  }

  .subscribe .subscribe-wrap2 input[type="email"]::placeholder {
    padding-left: 6.8rem;
    font-size: var(--small-font-size);
    line-height: var(--small-lineheight);
  }

  .subscribe .subscribe-wrap2 button {
    position: absolute;
    top: 50%;
    right: 3.5rem;
    transform: translate(0, -50%);
  }
}
