@media (min-width: 758px) {
  /* 공통 */
  .only-w {
    display: inline;
  }

  .only-m {
    display: none;
  }

  br .only-m {
    display: none;
  }

  br .only-w {
    display: inline;
  }

  .title {
    font-size: 4.8rem;
    line-height: 6rem;
  }

  .content {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .orange-btn {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.5rem 3rem;
    border-radius: 4rem;
  }

  body{
    overflow-x: hidden ;
  }


  /* header */
  header {
    height: 10rem;
  }

  nav {
    min-width: 60rem;
    margin: 0 18vw 0 17vw;
  }

  nav .only-w button {
    margin-right: 3rem;
  }

  nav .only-w .orange-btn {
    margin-left: 2rem;
  }

  nav h1 img {
    width: 13rem;
  }

  /* main */

  .main-container1 {
    justify-content: center;
    align-items: start;
    flex-direction: row;
    min-width: 700px;
    margin: 0 18vw 0 17vw;
    height: 79.8rem;
  }

  .w-wrap1 {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .main-title1 {
    padding: 20rem 0 4rem 0;
    text-align: start;
  }

  .main-content1 {
    padding: 0 0 4rem 0;
    text-align: start;
  }

  .main-container1 img {
    width: min(40%, 41.5rem);
    margin-top: 0.32rem;
  }

  .main-container1 button {
    margin: 0;
  }

  .w-wrap2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bed-hodu {
    width: 66rem;
    height: 39rem;
    border-radius: 3rem;
    margin: 8rem 11rem 0 32rem;
  }

  .main-title2 {
    font-size: 3.6rem;
    padding: 17.2rem 32rem 0 0;
  }

  .main-content2 {
    padding: 3rem 0 9.3rem 0;
  }

  .w-wrap3 {
    display: flex;
    flex-direction: row;
    padding: 3rem 26vw 0 20vw;
    min-width: 73.9rem;
  }

  .main-title3 {
    padding-top: 12rem 0 0 0;
  }

  .main-content3 {
    padding: 1rem 0 8.8rem 0;
  }

  .img-container {
    justify-content: center;
  }

  .img-container img {
    width: 37.8rem;
    object-fit: vocer;
    border-radius: 1.8rem;
    margin-right: 7.2rem;
    box-shadow: 10px 10px 20px 0px #00000040;
  }

  .w-wrap4 {
    display: flex;
    justify-content: center;
  }

  .learn-btn {
    margin: 1.7rem 0 30rem 5.2rem;
  }

  /* article */
  .main-email {
    min-width: 128rem;
    height: 20rem;
    border-radius: 3rem;
    z-index: 100;
    position: absolute;
    bottom: 40.6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .email-textwrap {
    padding-left: 5.8rem;
  }

  .main-email h1 {
    font-size: 3.6rem;
    line-height: 4.5rem;
    padding: 3.6rem 0 2rem;
    letter-spacing: -0.4px;
  }

  .main-email p {
    padding: 0 0 2rem;
    letter-spacing: -0.3px;
  }

  .email-sendwrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-email input[type="email"] {
    background-position: 2.8rem;
    padding: 2rem 27rem 2rem 6.8rem;
  }

  .main-email input[type="email"]:placeholder {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .main-email .orange-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7.5rem 3.5rem 0.5rem 0;
  }

  .hodu-face {
    min-width: 39rem;
    height: 34rem;
  }

  .hodu-face::after {
    content: "";
    background: rgba(242, 233, 216, 0.6);
    min-width: 39rem;
    width: 100%;
    min-height: 34rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hodu-face img {
    width: 100%;
    min-width: 192rem;
    height: 34rem;
    object-fit: cover;
    object-position: 62% 38%;
  }

  .up-btn {
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 18.4rem;
    right: 2.4rem;
    border: solid 1px #c4c4c4;
    border-radius: 100%;
  }

  .up-btn svg {
    width: 5rem;
    height: 5rem;
  }

  .up-btn:hover {
    cursor: pointer;
    border: solid 1px #767676;
  }

  a svg:hover #up {
    fill: #767676;
  }

  footer {
    max-height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-sns {
    margin-right: 17vw;
  }

  .footer-logo {
    width: 22.6rem;
    height: 7rem;
    margin-left: 17vw;
  }

  .footer-btn {
    display: none;
  }

  footer ul li img {
    width: 4.2rem;
    padding: 0.9 rem;
    border-radius: 20px;
    background-color: #f29d52;
    margin: 0 2rem 0 0;
  }

  .dialog-modal {
    width: 60rem;
    height: 40rem;
    position: absolute;
    bottom: 30.6rem;
    left: 70rem;
    display: none;
  }

  .modal-textarea img {
    width: 11rem;
    height: 11.2rem;
    margin: 6rem 24.5rem 0;
  }

  .modal-textarea .title {
    padding: 2.4rem 19.4rem 1.2rem;
    font-size: 3.6rem;
  }

  .modal-textarea .content {
    text-align: center;
    padding: 0 10.8rem 0 10.9rem;
    letter-spacing: -1px;
  }

  .dialog-modal .orange-btn {
    margin: 3.8rem 20.5rem 0 20.6rem;
    letter-spacing: -1px;
  }
}
